.highlight-animated {
    font-size: 24px; /* Adjust this value to your preference */
    color: #A32CDA;  /* Change color if needed */
    font-weight: bold; /* Make it bold if desired */
    padding-left: 0.5rem;
  }
  